@import "colors";

.st2-forms {
  &__matcher {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 20px 0 10px;
    white-space: nowrap;
  }

  &__button, &__button-left, &__button-right {
    display: inline-block;

    text-align: center;
    vertical-align: middle;

    padding: 6px 12px;

    border-radius: 4px;

    user-select: none;
    cursor: pointer;

    border: 1px solid transparent;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    outline: 0;

    background-color: #ff8300;
    color: #fff;

    font-size: 14px;
    white-space: nowrap;

    font-weight: 200;
    opacity: 1;
    font-family: Oswald;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    position: relative;

    &:before, &:after {
      // One that looks nice for FF. Blame different AA.
      // content: "";
      // width: 0px;
      // height: 0px;
      // border-style: solid;
      // border-width: 16px;
      // border-color: transparent transparent transparent #FF8300;
      // position: absolute;
      // top: 1px;
      // right: -32px;
      content: '';
      width: 0;
      height: 1px;
      border: solid;
      border-width: 16px 10px;
      border-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__button-left {
    margin-left: 10px;

    &:before {
      border-right-color: #ff8300;
      right: 100%;
    }
  }

  &__button-right {
    margin-right: 10px;

    &:after {
      border-left-color: #ff8300;
      left: 100%;
    }
  }

  &__field {
    width: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;

    font-weight: normal;

    background-color: @gray-dark;
    color: #fff;

    border: 1px solid;
    border-color: fade(@gray-darkest, 50%) fade(@gray-dull, 30%) fade(@gray, 50%);
    border-radius: 4px;

    height: 30px;

    outline: 0;

    &[readonly] {
      border-color: transparent;
      cursor: not-allowed;
    }

    &[disabled] {
      border-color: transparent;
      cursor: default;
    }

    &::placeholder {
      color: #aaa;
    }

    &:invalid {
      // TODO: not sure whether this is intentional or a bug, but shadow doesn't match
      box-shadow: none;
    }
  }

  &__checkbox {
    display: none;
    margin: 0;
    padding: 0;

    &-label {
      user-select: none;
      cursor: pointer;

      vertical-align: top;
    }

    & + &-label:before {
      content: '\00a0';
      font-family: "ststanley";
      font-style: normal;
      font-weight: normal;

      display: inline-block;
      text-decoration: inherit;
      margin-right: .3em;

      border: 1px solid;
      border-color: fade(@gray-darkest, 50%) fade(@gray-dull, 30%) fade(@gray, 50%);
      border-radius: 4px;

      width: 14px;
      height: 14px;
      line-height: 12px;

      background-color: @gray-dark;
      color: #01C8FF;
    }

    &:checked + &-label:before {
      content: '\e80a';

      text-shadow: 1px 0px 1px #000,
                   1px 1px 1px #000;
    }
  }
}
